@import '../variables/colors';

@mixin defaultBtn { 
    background-color: $primary-blue;
    border-radius: 4px;
    padding: 14px 32px;
    color: $text-white;
    cursor: pointer;
    transition: .2s ease;
    &:hover{ 
        color: $bg-black;
    }
}