$primary-blue: #00AEFF;
$primary-gray: rgba(255, 255, 255, 0.651);
$text-white: white;
$bg-linearGradient: 180deg, #020203 0%, rgba(14, 17, 23, 0.92) 96.35%, rgba(14, 17, 23, 0.9) 100%;
$bg-black: black;
$border-color:  rgba(255, 255, 255, 0.1);
$lighterBlack: #15171B;