@import '../variables/colors';

* {
    text-align: center;
}

#listBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    // min-height: 80vh;
}

#openMobileMenu {
    background-color: transparent;
    font-size: 2rem;
    color: $primary-gray;
    position: relative;
    z-index: 99;
}

#mobileMenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 98;
    padding-top: 6rem;
    display: flex;
    background: linear-gradient($bg-linearGradient);
    backdrop-filter: blur(6px);
    
    button {
        background-color: transparent;
        color: $text-white;
        display: flex;
        gap: 14px;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    ul li {
        color: $text-white;
    }

}

.gamesList {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    justify-content: center;

    li img {
        width: 30px;
        height: 30px;
    }
}

.esportsList{
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    justify-content: center;

    li img {
        width: 40px;
        height: 40px;
    }
}

#mobileMenuFooter {
    width: 100%;
    background-color: $bg-black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    margin-top: auto;
    align-self: flex-end;
}

.btnGame {
    transition: .2s ease;

    &.active {
        transform: rotate(3.142rad);
        color: $primary-blue;
        animation-delay: .5s;
    }

}

.btnEsport {
    &.active {
        transform: rotate(3.142rad);
        color: $primary-blue;
    }
}


#profile-btns {
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
        width: 25%;
        padding: .4rem;
        border-radius: 3.15px;

        &#create-account {
            border: 1px solid $text-white;
        }

        &#login {
            background-color: $primary-blue;
        }
    }

}

.fadeAnimation-enter-active,
.fadeAnimation-leave-active,
.fadeAnimation-enter-active {
    transition: opacity .5s ease;
}

.fadeAnimation-enter-from,
.fadeAnimation-leave-to,
.fadeAnimation-enter-from,
.fadeAnimation-leave-to {
    opacity: 0;
}

.fadeAnimation-leave-active {
    transition: opacity .11s ease;
}